# Ignore data directories
data/task2/*
data/task3/*
!/data/task2/processed/**
!/data/task3/processed/**

outputs/raw/task2/llama/attention_data.pt
outputs/raw/task2/bert/attention_data.pt
outputs/raw/task3/bert/attention_data.pt
outputs/raw/task3/llama/attention_data.pt
outputs/flow_legacy

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.venv/
*.conda
Anaconda3-*.sh

# Logs
*.log
*.out
*.err

# Jupyter Notebook
.ipynb_checkpoints/

# Environment/Secrets
.env
*.secret

# Temporary files
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db

# Models
*.h5
*.ckpt

# SLURM
*.sbatch
output.log
