# Ignore data directories
/data/
!/data/task2/processed
!/data/task3/processed
/results/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.venv/
*.conda
Anaconda3-*.sh

# Logs
*.log
*.out
*.err

# Jupyter Notebook
.ipynb_checkpoints/

# Environment/Secrets
.env
*.secret

# Temporary files
*.swp
*.bak
*.tmp
.DS_Store
Thumbs.db

# Models
*.h5
*.ckpt
*.pt

# SLURM
*.sbatch
output.log
